.hero-section {
  color: #fff;
  padding: 100px 0;
  min-height: calc(100vh - 169px);
}

.hero-darkBg {
  background: linear-gradient(#222529, #22252962);
}

.home-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-line {
  color: white;
  font-size: 28px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
  line-height: 35px;
}

.heading {
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.home-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 24px;
  line-height: 32px; /* within paragraph */
}

.dark {
  color: #1c2237;
}

.home-img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.home-img {
  max-width: 60%;
  max-height: 70%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
  border-radius: 10%;
}
