@font-face {
  font-family: "AileronBold";
  src: local("Aileron-Bold"),
    url("../../fonts/Aileron/Aileron-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AileronRegular";
  src: local("Aileron-Regular"),
    url("../../fonts/Aileron/Aileron-Regular.otf") format("opentype");
}

:root {
  --black: #000000;
  --white: #ffffff;
}

.navbar-brand {
  color: var(--white);
  font-family: "AileronBold";
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-family: "AileronRegular";
}

.nav-link:hover,
.active:hover {
  color: var(--white);
}

.active {
  color: var(--white);
  font-family: "AileronBold";
}
