:root {
  --black: #000000;
  --white: #ffffff;

  --font-size-l: 72px;
  --font-size-m: 36px;
  --font-size-s: 24px;
  --font-size-xs: 20px;

  --font-family-aileron-bold: "Aileron-Bold", Helvetica;
  --font-family-aileron-regular: "Aileron-Regular", Helvetica;
}

.navbar-brand {
  color: var(--white);
  font-family: var(--font-family-aileron-bold);
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: var(--font-family-aileron-regular);
}

.nav-link:hover,
.active:hover {
  color: white;
}

.active {
  color: white;
  font-family: var(--font-family-aileron-bold);
}
