:root {
  --black: #000000;
  --green: #4ca767;
  --light-gray: #22252962;
  --white: #ffffff;
  --dark-gray: #222529;

  --font-size-l: 72px;
  --font-size-m: 36px;
  --font-size-s: 24px;
  --font-size-xs: 20px;

  --font-family-aileron-bold: "Aileron-Bold", Helvetica;
  --font-family-aileron-regular: "Aileron-Regular", Helvetica;
}

.home-section {
  color: #fff;
  padding: 100px 0;
  min-height: calc(100vh - 169px);
}

.darkBg {
  background: linear-gradient(var(--dark-gray), var(--light-gray));
}

.home-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-line {
  color: var(--white);
  font-size: 28px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
  line-height: 35px;
}

.heading {
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.home-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 24px;
  line-height: 32px; /* within paragraph */
}

.dark {
  color: #1c2237;
}

.home-img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.home-img {
  max-width: 60%;
  max-height: 70%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
  border-radius: 10%;
}
