:root {
  --font-size-l: 4.5em;
  --font-size-m: 2.25em;
  --font-size-s: 2em;
  --font-size-xs: 1.25em;

  --white: #ffffff;
}

@font-face {
  font-family: "AileronBold";
  src: local("Aileron-Bold"),
    url("../assets/fonts/Aileron/Aileron-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AileronRegular";
  src: local("Aileron-Regular"),
    url("../assets/fonts/Aileron/Aileron-Regular.otf") format("opentype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(.625em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.breadcrumb-style-1 {
  /* color: white; */
  text-decoration: none;
}

.breadcrumb-style-2 {
  /* color: white; */
  text-decoration: none;
}

a {
  color: green;
}

a:hover {
  color: red;
}