.programming-resources-section {
  color: black;
  padding: 1.25em 0;
  min-height: calc(100vh - 10.5);
}

.programming-resources-darkBg {
  background: linear-gradient(#ffffff, #22252962);
}

.programming-resources-section a {
  text-decoration: none;
}

.programming-resources-section li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.programming-text-wrapper{
  margin: 1em;
}

.resources-date{
  text-transform: uppercase;
  font-size: .7em;
  margin: .75em 0;
}

a.resources-btn{
  color: white;
  background: #8c8c8c;
  padding: 0.4em 1.2em;
  border-radius: .5em;
  font-weight: bold;
  font-size: .75em;
  margin: .5em auto;
  display: inline-block;
  text-decoration: none;
}

a.resources-btn:hover{
  color: white;
  background: #424549;
  transition: 300ms;
}
