.snippets-of-wisdom-section {
  color: black;
  padding: 20px 0;
  min-height: calc(100vh - 169px);
}

.snippets-of-wisdom-darkBg {
  background: linear-gradient(#ffffff, #22252962);
}

.link-style {
  color: green;
}

.snippets-text-wrapper {
  margin-top: 1em;
}

.snippets-text-wrapper a {
  text-decoration: none;
}

.snippets-text-wrapper li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #4d4d4d;
}
