.snippets-of-wisdom-section {
  color: black;
  padding: 20px 0;
  min-height: calc(100vh - 169px);
}

.snippets-of-wisdom-darkBg {
  background: linear-gradient(#ffffff, #22252962);
}

.link-style {
  color: green;
}
